<link rel="stylesheet" href="/css/landing_page.css">

<body>
    <main>
        <ul id="employee-container">
            <li>
                <img src="https://tqa.uoh.edu.iq/uoh/scp/assets/img/system-administrator-icon-2.jpg" alt="admin-image">
                <a href="/admin/sign-up">Admin Sign-Up</a></li>
            <li>
                <img src="https://cdn3d.iconscout.com/3d/premium/thumb/profile-5590850-4652486.png" alt="user-image">
                <a href="/user/sign-up">Employee Sign-Up</a></li>
        </ul>
    </main>
</body>