<link rel="stylesheet" href="/css/landing_page.css">

<body>
    <header id="landing-header">
        <h1>Welcome to Our Registration Portal</h1>
    </header>
    <main>
        <ul id="employee-container">
            <li class="registration-option">
                <div class="image-container">
                    <img src="https://cdn-icons-png.flaticon.com/512/5654/5654864.png" alt="admin-image">
                </div>
                <a href="/admin/sign-up" class="sign-up-button">Admin Sign-Up</a>
            </li>
            <li class="registration-option">
                <div class="image-container">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaTrCF4h8zuKlWbsdZU72spTiovIfHbxqc9Q-ISvzMtJHPfbp3" alt="user-image">
                </div>
                <a href="/user/sign-up" class="sign-up-button">Employee Sign-Up</a>
            </li>
        </ul>
    </main>
</body>